h1 {
	font-size: 50px;
	color: DarkSlateBlue;

}

body{	background-color: DarkCyan ;

}

table, th, td
{
	border: 1.5px solid DarkSlateGray;
}
#divi{
	border: 1.5px solid black;
	width: 100%;
	background-color: black;
}

#asignaturasCursadas{
	border: 2px outset darkgray;
	background-color: darkgray;

}
#horario {
	width: 100%;
}
#horarioT{
	font-size: 40px;
}

li {
	border: 1px ;
	border-style: outset groove ;
	background-color: CadetBlue;

}

